#headlineDiv {
    text-align: center;
}

#editDiv {
    width: 60%;
    margin: auto;
    text-align: center;
    border-style: groove;
    background: #51bdd652;
}

input {
    margin-top: 5px;
}

#about {
    margin-top: 10px;
    resize: none;
    margin-bottom: 10px;
}