<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>com.servlets.user.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>com.servlets.facebookApiIntergration.CallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.servlets.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>tokenInfo</servlet-name>
        <servlet-class>com.servlets.facebookApiIntergration.TokenInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tokenInfo</servlet-name>
        <url-pattern>/tokenInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>onSharePostServlet</servlet-name>
        <servlet-class>com.servlets.user.OnSharedPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>onSharePostServlet</servlet-name>
        <url-pattern>/onSharePost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Cert</servlet-name>
        <servlet-class>com.servlets.facebookApiIntergration.Cert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cert</servlet-name>
        <url-pattern>/.well-known/acme-challenge/xxxxxxxxxxxx-yyyy.zzzzzzzzzzzzzzzzzzz</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>